/* Montar */

.painelDeControleMontar {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 3vw;
    top: 0;
}

.buttonsPainelMontar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.armBackground {
    background-color: #B56BFF;
    border-radius: 50px;
    width: 12vw;
    height: 18vh;
    margin-left: 11vw;
    margin-top: 13vh;
}

.armBackground img {
    margin-top: 1.5vh;
    margin-left: 3vw;
}


#layout {
    width: 16vw;
    height: 3vw;
    margin-top: 6vh;
    margin-left: 9.7vw;
    border-radius: 15px;
}

.botaoDelete {
    background-color: #FA0707;
    border: none;
    color: white;
    margin-top: 5vh;
    width: 16vw;
    height: 3vw;
    border-radius: 0.9375rem;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
}

.botaoDelete:hover {
    background-color: #D40000;
    color: white;
}

.buttonsPainelMontar form:nth-child(1) button::before{
    content: "Iniciar Montagem";
    font-size: 1.4vw;
}

.buttonsPainelMontar form:nth-child(2) button::before{
    content: "Descartar Layout";
    font-size: 1.4vw;
}

