@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --mainColor: #E3DAEC;
    --mainColorLight: #f0e8f8;
    --secondaryColor: #ADB6F8;
    --textColor: #9600DD;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.2rem;
}

.buttonsHeader {
    margin-left: -50vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    height: 100%    
}

.buttonsHeader a {
    margin-right: 5vw;
    color: var(--textColor);
    text-decoration: none;
}

.buttonsHeader a:last-child {
    margin-right: 0; 
}

.buttonsHeader a:hover {
    color: var(--secondaryColor);
}

.nav-btn:hover{
    color: var(--secondaryColor);
}

@media only screen and (max-width: 100vw){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 0;
    } 

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
}