body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

header {
  background-color: #E3DAEC;
  display: flex;
  position: fixed;
  margin-top: 0;
}

.botaoPadrao {
  background-color: #9600DD;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  width: 16vw;
  height: 3vw;
  margin-top: 5vh;
  font-size: 20px;
  border-radius: 15px;
}

.botaoPadrao:hover{
  background-color: #CF80FF;
  color: white
}

.linhaVertical {
  margin-left: 72vw;
  margin-top: 10vh;
  height: 80vh;
  width: 2px;
  background-color: #9004D3;
  position: fixed;
}

.btVoltar {
  background-color: #D9D9D9;
  border: none;
  color: black;
  margin-left: 0.5vw;
  cursor: pointer;
  border-radius: 15px;
  font-size: larger;
  width: 16vw;
  height: 3vw;
  margin-top: 7vh;
}

.btVoltar:hover {
  background-color: #B0B0B0;
  color: white;
}

.buttonsPainel {
  position: inherit;
  margin-left: 9.5vw;
  margin-top: 47vh;
  text-align: center;
}