body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #E3DAEC;
  display: flex;
  position: fixed;
  margin-top: 0;
}

.botaoPadrao {
  background-color: #9600DD;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  width: 314px;
  height: 47px;
  margin-top: 5vh;
  font-size: 20px;
  border-radius: 15px;
}

.linhaVertical {
  margin-left: 2vw;
  margin-top: 10vh;
  height: 80vh;
  width: 1px;
  background-color: #9004D3;
}