.custom-button {
    background-color: #9004d3;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #6d0288;
  }
  
  .custom-button:active {
    background-color: #520461;
  }
  