.footer {
    margin-left: 25%;
    margin-top: 1%;
    font-family: 'Public Sans', sans-serif;
  }  

.placeholderVisible {
    display: flex; /* or "block" depending on your design */
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 3%;
}

.placeholderInvisible {
    display: none;
}

.smallText {
    font-size: 0.75em;
  }

.pageContent {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.infoContainer {
    display: flex;
    width: 60vw;
    margin-left: 1.5vw;
}

.carrinho {
    margin-top: 10vh;
    margin-left: 2vw;
}

.nomeItem {
    font-size: 1.3em;
    color: #333333; 
    font-family: 'Public Sans', sans-serif;
    font-weight: 200;
    margin-top: 5%;
  }

  .quantidadeItem {
    font-size: 1em; 
    color: #666666; 
    font-family: 'Public Sans', sans-serif;
    font-weight: 100;
  }

.carrinhoTitle1::before {
    content: "GAVETA DE\A REABASTECIMENTO";
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vw;
    white-space: pre-wrap;
    text-align: center;
    margin-top: 5vh;
}

.carrinhoTitle2::before {
    content: "GAVETA DO CARRINHO\A EMERGENCIAL";
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vw;
    white-space: pre-wrap;
    text-align: center;
    margin-top: 5vh;
}

.backgroundCarrinho {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    padding-bottom: 2.9vh;
    background-color: #E3C6FF;
    width: 30vw;
    height: 30.4vw;
    border-radius: 1.25rem;
    width: fit-content;
    height: fit-content;
}

.item {
    font-size: 1vw;
    margin-top: 3vh;
    margin-left: 1.73vw;
    margin-right: 1.73vw;
    width: 12.5vw;
    height: 13vh;
    border-radius: 1.25rem;
    background-color: #fff;
    border: none;
    padding: 9%;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; 
}

.item:hover {
    background-color: #A06EE0; 
    color: white; 
}


/* Selecionar.css */
.layoutsContainer {
    display: flex;
    flex-direction: column;
    width: 60vw;
    position: fixed;
    margin-left: 4.5vw;
    margin-top: 18vh;
}

.layoutInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    width: 60vw;
    height: 12vh;
    text-align: left;
    border-color: #B49EBF;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 2vh;
}
.layoutSub{
    font-size: 14px;
    margin-top: -0.2vw;
}

.logoCompleta {
    width: 25vw;
    margin-left: 5vw;
}

.botaoPersonalizado {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vw;
    width: 60vw;
    height: 12vh;
    border-radius: 1vw;
    text-align: left;
    border-color: #B49EBF;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 2vh;
    padding: 1vw;
    position: relative; 
}

.botaoPersonalizado::after {
    content: 'Horário de criação: 'attr(horario)'';
    display: block;
    font-size: 1vw;
    margin-top: 0.5vw;
}

.botaoPersonalizado:hover {
    background-color: #A06EE0;
    color: white;
}


.delete-icon {
    cursor: pointer;
}
.delete-icon {
    cursor: pointer;
}