.pageContent {
    display: flex;
    flex-direction: row;
}

.infoContainer {
    display: flex;
    width: 60vw;
    margin-left: 1.5vw;
}

.carrinho {
    margin-top: 10vh;
    margin-left: 2vw;
}

.carrinhoTitle {
    margin-left: 0;
}

.backgroundCarrinho {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    background-color: #E3C6FF;
    width: 32vw;
    height: 32.4vw;
    border-radius: 20px;
}

.item {
    margin-top: 3vh;
    margin-left: 1.73vw;
    width: 12.5vw;
    height: 13vh;
    background-color: #fff;
    border: none;
    border-radius: 20px;
}

.itemTexto {
    margin-left: 1vw;
    margin-top: 2vh;
}

.painelDeControle {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 67vw;
    position: fixed;
}

.armBackground {
    background-color: #B56BFF;
    border-radius: 50px;
    width: 12vw;
    margin-left: 11vw;
    margin-top: 13vh;
}

.armBackground img {
    margin-top: 1.5vh;
    margin-left: 3vw;
}

#layout {
    width: 16vw;
    height: 3vw;
    margin-top: 6vh;
    margin-left: 7.5vw;
    border-radius: 10px;
}

.botaoDelete {
    background-color: #FA0707;
    border: none;
    color: white;
    margin-top: 5vh;
    width: 16vw;
    height: 3vw;
    border-radius: 15px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.botaoDelete:hover {
    background-color: #D40000;
    color: white;
}

/* Selecionar.css */

.pageContent {
    display: flex;
    flex-direction: row;
}

.layoutsContainer {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 60vw;
    margin-left: 4.5vw;
    margin-top: 18vh;
}

.layoutInfo {
    width: 60vw;
    height: 12vh;
    border-radius: 15px;
    text-align: left;
    border-color: #B49EBF;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 2vh;
}

.logoCompleta {
    width: 25vw;
    margin-left: 5vw;
}

