.mainCBR {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13vh;
}

.titulo::before{
  content: "Controle do Braço Robótico";
  display: block;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  padding-bottom: 1vw;
}

.botoesCBR form:nth-child(1) button::before {
  content: "Home";
  font-size: 1.4vw
}

.botoesCBR form:nth-child(2) button::before {
  content: "Posição Atual";
  font-size: 1.4vw
}

.botoesCBR form:nth-child(3) button::before {
  content: "Ligar Ferramenta";
  font-size: 1.4vw
}

.botoesCBR form:nth-child(4) button::before {
  content: "Selecionar Layout";
  font-size: 1.4vw
}

.linhaHorizontal {
  background-color: #9600DD;
  height: 0.5vh;
  width: 30vw;
  margin-top: 0.02vw;
}

.botoesCBR {
  margin-top: 10vh;
}