.pageContent {
    display: flex;
    flex-direction: row;
}

.infoContainer {
    display: flex;
    width: 60vw;
    margin-left: 1.5vw;
    
}

.carrinho {
    margin-top: 10vh;
    margin-left: 2vw;
}

.carrinhoTitle {
    margin-left: 0;
    text-align: center;
}

.backgroundCarrinho {
    margin-top: 5vh;
    background-color: #E3C6FF;
    width: 30vw;
    height: 30.4vw;
    border-radius: 20px;
    flex-direction: column;
}

.botaoAdd {
    margin-top: 3vh;
    margin-left: 1.73vw;
    width: 12.5vw;
    height: 13vh;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.botaoAdd:hover {
    background-color: #B456E2;
    color: white;
}

.painelDeControle {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 2vw;
}

.armBackground {
    background-color: #B56BFF;
    border-radius: 50px;
    width: 12vw;
    margin-left: 11vw;
    margin-top: 13vh;
}

.armBackground img {
    margin-top: 1.5vh;
    margin-left: 3vw;
}

.formName {
    margin-top: 5vh;
    margin-left: 10vw;
    text-align: center;
}


.insertName {
    border-radius: 10px;
    height: 4vh;
    width: 32vh;
}

.saveName {
    margin-left: -1vw;
    margin-top: 1vw;
    background-color: #9600DD;
    color: #fff;
    border: none;
    height: 4vh;
    border-radius: 10px;
}

.botaoDelete {
    background-color: #FA0707;
    border: none;
    color: white;
    margin-top: 5vh;
    width: 16vw;
    height: 3vw;
    border-radius: 15px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.botaoDelete:hover {
    background-color: #D40000;
    color: white;
}

