body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

header {
    background-color: #E3DAEC;
    display: flex;
    position: fixed;
    margin-top: 0;
}

.botaoPadrao {
    background-color: #9600DD;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    width: 16vw;
    height: 3vw;
    margin-top: 5vh;
    font-size: 1.4vw;
    border-radius: 15px;
}

.botaoPadrao:hover {
    background-color: #CF80FF;
    color: white;
}

.linhaVertical {
    margin-left: 72vw;
    margin-top: 15vh;
    height: 80vh;
    width: 0.125rem;
    background-color: #9004D3;
    position: fixed;
    z-index: -1;
}

.btVoltar {
    background-color: #D9D9D9;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.4vw;
    width: 16vw;
    height: 3vw;
    margin-top: 7vh;
}

.btVoltar:hover {
    background-color: #B0B0B0;
    color: white;
}


.logoCompleta {
    width: 25vw;
    margin-left: 5vw;
}

.logoSimples {
    height: 9vh;
}

.botaoNovoLayout::before {
    content: 'Novo Layout';
}

.botaoExportarLayout::before {
    content: 'Exportar Layout';
}

.botaoImportarLayout::before {
    content: 'Importar Layout';
}

.botaoEditarLayout::before {
    content: 'Editar';
}

.layoutInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    width: 60vw;
    height: 12vh;
    border-radius: 1.5vw;
    text-align: left;
    border-color: #B49EBF;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 2vh;
    padding: 1vw;
    position: relative;
}

.layoutInfo::after {
    content: 'Data de criação: 20/03/2024 Itens: xxxxxx, xxxxxxx, xxxxxx';
    display: block;
    font-size: 1.4vw;
    margin-top: 0.5vw;
}

.layoutInfo:hover {
    background-color: #A06EE0;
    color: white;
}
